
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css_script.css">
    <script defer src="../static/js_script.js"></script>
    <title>Document</title>
</head>
<body>
    
    <nav>
        <div class="logo">
            <img src="./logo_bikestop.jpeg" alt="logo">
        </div>
        <ul class="menu">
            <li><a href="home.html">Home</a></li>
            <li><a href="page2.html">Log in</a></li>
            <li><a href="page3.html">Register</a></li>
            <li><a href="page4.html">Search</a></li>
            <li><a href="page6.html">About</a></li>
        </ul>
        <button type="button" >Subscribe</button>
    </nav>
    <div class="about">
        <h1>About Us</h1>
        <p>We are a website whose main purpose is help in finding<br>
            a bike shop that is close, suitable and satisfying for everyone.<br>
            As bicycle enthusiasts, we are well aware of the problems involved<br>
             in searching for bicycle shops, lack of sufficient information about<br>
            opening hours, and especially the inability to find a shop that has<br> 
            the right model for us. For all of these, we created Bake Stop,<br>
             a free website that aims to get you start rolling!</p>
    </div>

</body>
</html>