
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css_script.css">
   
    <script defer src="../static/js_script.js"></script>
    <title>Document</title>
</head>
<body>
    
    <nav>
        <div class="logo">
            <img src="./logo_bikestop.jpeg" alt="logo">
        </div>
        <ul class="menu">
            <li><a href="home.html">Home</a></li>
            <li><a href="page2.html">Log in</a></li>
            <li><a href="page3.html">Register</a></li>
            <li><a href="page4.html">Search</a></li>
            <li><a href="page6.html">About</a></li>
        </ul>
        <button type="button" >Subscribe</button>
    </nav>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Addres</th>
                <th>Opening Days & Time</th>
                <th>Description</th>
                <th>Link To Website</th>
                <th>Rate this site</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Puncher</td>
                <td>Dizingoff 99, Tel Aviv</td>
                <td>Su-Fr, 9:00-19:00 , 9:00-13:00</th>
                <td>Description</th>
                <td>https://www.punchertlv.co.il/</th>
                <td>&bigstar; &bigstar; &bigstar; &bigstar; &bigstar;</th>
            </tr>
            <tr class="active-row">
                <td>bikez</td>
                <td>Mazeh 18, Tel Aviv</td>
                <td>Su-Fr, 9:00-19:30 , 10:00-12:00</th>
                <td>Description</th>
                <td>https://www.bikezzz.co.il/</th>
                <td>&bigstar; &bigstar; &bigstar; &star; &star;</th>
            </tr>
            <tr>
                <td>ofnaim</td>
                <td>Rotchild 20, Tel Aviv</td>
                <td>Su-Th, 9:00-19:00 </th>
                <td>Description</th>
                <td>https://www.offnaim.co.il/</th>
                <td>&bigstar; &bigstar; &bigstar; &star; &star;</th>
            </tr>
            <tr class="active-row">
                <td>one bike</td>
                <td>Hertzl 3, Tel Aviv</td>
                <td>Su-Fr, 9:00-19:30 , 10:00-12:00</th>
                <td>Description</th>
                <td>https://www.onebike.co.il/</th>
                <td>&bigstar; &bigstar; &bigstar; &bigstar; &star;</th>
            </tr>
            <tr>
                <td>wheels</td>
                <td>Dizingoff 99, Tel Aviv</td>
                <td>Su-Fr, 8:00-20:00 , 8:00-14:00</th>
                <td>Description</th>
                <td>https://www.wheelstlv.co.il/</th>
                <td>&bigstar; &bigstar; &bigstar; &star; &star;</th>
            </tr>
            
        </tbody>
    </table>
    <div class="back_to_search">
    <a href="page4.html"> <button type="button"  >Back to search</button></a>
    </div>  
</body>
</html>