
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css_script.css">
    <script defer src="../static/js_script.js"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="./logo_bikestop.jpeg" alt="logo">
        </div>
        <ul class="menu">
            <li><a href="home.html">Home</a></li>
            <li><a href="page2.html">Log in</a></li>
            <li><a href="page3.html">Register</a></li>
            <li><a href="page4.html">Search</a></li>
            <li><a href="page6.html">About</a></li>
        </ul>
        <button type="button" >Subscribe</button>
    </nav>
    
    <div class="container">
    <form id="form" action="/">
        <h1>Registration</h1>
        <div class="input-control">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" placeholder="username" required>
            <div class="error"></div>
        </div>
        <div class="input-control">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" placeholder="email@gmail.com" required>
            <div class="error"></div>
        </div>
        <div class="input-control">
            <label for="password">Password</label>
            <input id="password"name="password" type="password" placeholder="password" required>
            <div class="error"></div>
        </div>
        <div class="input-control">
            <label for="password2">Confirm Password</label>
            <input id="password2"name="password2" type="password" placeholder="password" required>
            <div class="error"></div>
        </div>
        <button type="submit">Sign Up</button>
    </form>
    </div>
</body>
</html>


    

